.setinhaPangeaToAldebran {
    position: absolute;
    top: 468.466px!important;
    left: 410.031px !important;
    transform-origin: left center;
    display: inline;
    transform: rotate(-53deg);
}

.setinhaPangeaToAldebran::before {
    position: absolute;
    content: '';
    width: calc( 100% - 25px );
    height: 20px;
    background: red;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
}
.setinhaPangeaToAldebran::after {
    position: absolute;
    content: '';
    float: left;
    width: 1px;
    height: 1px;
    border: 25px solid transparent;
    border-left-color: red;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    left: calc( 100% - 25px );
}